<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html(title=#{server.title}, selected='servers')}">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body onload="readCookie();">
        <nav layout:fragment="breadcrumbs">
            <ul>
                <li>
                    <a th:href="@{/}" th:text="#{home.home}">Startseite</a>
                </li>
                <li>
                    <a th:href="@{/servers}" th:text="#{server.title}">Server-Übersicht</a>
                </li>
                <li>
                    <a aria-current="location" th:href="@{/server(id=${server.id})}" th:text="${server.getName()}">Server</a>
                </li>
            </ul>
        </nav>
        <main layout:fragment="content">
            <h2 th:text="${server.getName()}" class="sub-heading">Server</h2>
            <ul class="flex table-bar">

            </ul>
            <i class="bi-info-circle-fill"></i>
            <span th:text="${server.getOnlineMembers(jda)} + ' Member aktiv von ' + ${jda.getGuildById(server.idLong).getMemberCount()} + '.'">567 / 1234</span>

            <table>
                <tr>
                    <th th:text="#{server.name}" scope="row">Servername</th>
                    <td th:text="${server.getName()}">Name</td>
                </tr>
            </table>

            <script>
                function toggleTable(string) {
                    let lTable1 = document.getElementById(string);
                    for (let i = 1; i < lTable1.rows.length; i++) {
                        lTable1.rows[i].style.display = (lTable1.rows[i].style.display === "none") ? "table-row" : "none";
                    }
                }
            </script>

            <table id="roleTable">
                <input type="text" id="roleSearch" onkeyup="filter('roleSearch', 'roleTable', 'roles')" placeholder="Search.." title="Type in a category">
                <tr>
                    <th th:text="#{server.roles}" scope="row" id="loginLink1" onclick="toggleTable('roleTable');" href="#">Serverrollen</th>
                    <th th:text="#{server.role.type}" scope="row">Name</th>
                </tr>
                <tr class="roles" th:name="roles" th:each="role : ${roles}" style="display: none">
                    <td class="a" th:text="${role.name}"></td>
                    <td>
                        <input type="hidden" th:id="url + ${role.getIdLong()}" th:value="@{/changeRoleType}">
                        <select th:id="${role.getId()}" th:name="${role.getId()}" th:onchange="|writeCookie(${role.idLong}n, ${server.getIdLong()}n);|">
                            <option th:each="roleType : ${T(serverbot.role.RoleType).values()}" th:value="${roleType}" th:text="#{'role.type.' + ${roleType}}" th:selected="((${rolemanagement.findByRoleId(role.id).get().getRoleType()} == ${roleType}) ? selected)">
                        </select>
                    </td>
                </tr>
            </table>


            <script type="text/javascript" th:inline="javascript">
                var message = /*[[${rolesShown}]]*/ 'false';
                if (message === true) {
                    toggleTable('roleTable')
                }
            </script>

            <table id="channelTable">
                <input type="text" id="channelSearch" onkeyup="filter('channelSearch', 'channelTable', 'channels')" placeholder="Search.." title="Type in a category">

                <tr>
                    <th th:text="#{server.channels}" scope="row" id="loginLink2" onclick="toggleTable('channelTable');" href="#">Serverrollen</th>
                    <th th:text="#{server.channel.type}" scope="row">Name</th>
                </tr>
                <tr class="channels" th:name="channels" th:each="channel : ${channels}" style="display: none">
                    <td class="a" th:text="${channel.name}"></td>
                    <td>
                        <input type="hidden" th:id="url + ${channel.getIdLong()}" th:value="@{/changeChannelType}">
                        <select th:id="${channel.getId()}" th:name="${channel.getId()}" th:onchange="|writeCookie(${channel.idLong}n, ${server.getIdLong()}n);|">
                            <option th:each="channelType : ${T(serverbot.channel.ChannelType).values()}" th:value="${channelType}" th:text="#{'channel.type.' + ${channelType}}" th:selected="((${channelManagement.findByChannelId(channel.id).get().getChannelType()} == ${channelType}) ? selected)">
                        </select>
                    </td>
                </tr>
            </table>

            <script>
                function filter(search, table_name, tr_name) {
                    // Declare variables
                    var input, filter, table, tr, a, i;
                    input = document.getElementById(search);
                    filter = input.value.toUpperCase();
                    table = document.getElementById(table_name);
                    tr = table.getElementsByClassName(tr_name);

                    for (i = 0; i < tr.length; i++) {
                        a = tr[i].getElementsByTagName("td")[0];
                        if (a.textContent.toString().toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }

                }
            </script>

            <script type="text/javascript" th:inline="javascript">
                function writeCookie(c, d) {
                    var a = document.getElementById('url' + c).value;
                    var b = document.getElementById(c.toString()).value;
                    document.cookie = "location=" +  $(window).scrollTop();
                    window.location.href = a + "/" + b + "/" + c + "/" + d;
                }
                function readCookie() {
                    var lastScrollTop = getCookie("location");
                    if (lastScrollTop) {
                        $(window).scrollTop(lastScrollTop);
                        removeCookie('location');
                    }
                }
                function getCookie(cname) {
                    let name = cname + "=";
                    let decodedCookie = decodeURIComponent(document.cookie);
                    let ca = decodedCookie.split(';');
                    for(let i = 0; i <ca.length; i++) {
                        let c = ca[i];
                        while (c.charAt(0) === ' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) === 0) {
                            return c.substring(name.length, c.length);
                        }
                    }
                    return "";
                }
                function removeCookie(cname) {
                    document.cookie = cname + "=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                }
            </script>
            <script type="text/javascript" th:inline="javascript">
                var message = /*[[${channelsShown}]]*/ 'false';
                if (message === true) {
                    toggleTable('channelTable')
                }
            </script>
        </main>
    </body>
</html>
